<html>
    <head>
        <title>Show Image</title>
    </head>
    <body>
        <h1>See Image</h1>
        <img src="http://localhost:4567/files_uploaded/<%= @filename %>" />
        <I>"./files_uploaded/<%= @filename %>" </I>
    </body>
</html>
